
.btn-outline-purple{
    border-color: #561A8B;
    color: #561A8B;
}
.btn-outline-purple:hover{
    background-color: #561A8B;
    color: white;
}
.btn-outline-purple:hover{
    background-color: #561A8B !important;
    color: white !important;
}
.border-purple{
    border-color: #561A8B;
}

.text-purple{
    color: #561A8B;
}
.bg-purple{
    background-color: #561A8B;
}
.text-purple:hover{
    color: #561A8B;
}
.text-purple:focus{
    color: #561A8B;
}

.nav-link:hover{
    scale: 1.1;
}

.dropdown-item:active{
    background-color: #561A8B;
    color: white;
}
.btn-purple{
    background-color: #561A8B;
    color: white;
    border: #561A8B;
}
.btn-purple:hover{
    background-color: #561A8B !important;
    color: white !important;
    scale: 1.1;
}
.author-info:hover{
    color: #561A8B !important;
}
